html {
  background-color: #F1948A !important;
  color: inherit;
}

.thumb-img {
  border-color: #F1948A !important;
}

#loupeContainer div.background {
  background-color: #F1948A !important;
  color: inherit;
}

header div.background {
  background-color: #F1948A !important;
  color: inherit;
}

.custom-colorable {
  fill: #000000 !important;
}

body {
  background-color: #F1948A !important;
  color: #000000 !important;
}
